<template>
  <div id="dashboard" class="pa-4">
    <v-container fluid>
      <div class="d-flex justify-space-between mb-5">
        <h2>Channel Dashboard</h2>
        <div class="right">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                @click="dialog = true"
                class="mr-4 white"
                icon
                v-on="{ ...tooltip }"
              >
                <v-icon size="25" class="small">mdi-upload</v-icon>
              </v-btn>
            </template>
            <span>Upload video</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn class="white" icon v-on="{ ...tooltip }">
                <v-icon size="25" class="small">mdi-access-point</v-icon>
              </v-btn>
            </template>
            <span>Go live</span>
          </v-tooltip>
        </div>
      </div>
      <v-row>
        <v-col v-if="getLatestVideo.name" cols="12" sm="6" md="4">
          <v-card class="mx-auto" outlined>
            <v-card-title>Latest video performance</v-card-title>
            <v-responsive class="mx-5">
              <v-img
                class="white--text align-en"
                height="200px"
                :src="getLatestVideo.thumbnail"
              />
            </v-responsive>

            <v-card-subtitle class="pl-6 pb-0 text--primary"
              >{{ timeToNow }}
            </v-card-subtitle>
            <v-card-text>
              <v-list flat class="pl-0 pt-0">
                <v-list-item class="pl-2 mt-1" style="min-height:30px">
                  <v-list-item-title class="caption grey--text"
                    >Views
                  </v-list-item-title>
                  <span class="caption grey--text">{{
                    getLatestVideo.views
                  }}</span>
                </v-list-item>
                <v-list-item class="pl-2 mt-1" style="min-height:30px">
                  <v-list-item-title class="caption grey--text"
                    >Comments
                  </v-list-item-title>
                  <span class="caption grey--text">{{
                    getLatestVideo.comments
                  }}</span>
                </v-list-item>
              </v-list>
            </v-card-text>

            <v-card-actions class="d-block ml-2">
              <v-btn to="/studio/analytics" color="blue" text>
                Go to video analytics
              </v-btn>
              <br />
              <v-btn to="/studio/comments" color="blue" text>
                See comments
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col v-if="getLatestVideo.name" cols="12" sm="6" md="4">
          <v-card class="mx-auto" outlined>
            <v-card-title>News</v-card-title>
            <v-responsive class="mx-5">
              <v-img
                class="white--text align-en"
                height="200px"
                :src="getLatestVideo.thumbnail"
              >
              </v-img>
            </v-responsive>

            <v-card-text class="text--primary">
              <v-card-title class="subtitle-2"
                >{{ getLatestVideo.name }}
              </v-card-title>
              <v-card-subtitle class="caption"
                >{{ getLatestVideo.description }}
              </v-card-subtitle>
            </v-card-text>

            <v-card-actions class="d-block ml-2">
              <v-btn :to="getLatestVideo.url" color="blue" text>
                Check it out
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-card class="mx-auto" outlined>
            <v-card-title class="pl-5">Recent subscribers</v-card-title>

            <v-card-actions class="d-block ml-2">
              <v-btn color="blue" text @click="subscribersDialog = true">
                See all
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <UploadVideoModal :dialog="dialog" @closeDialog="dialog = false" />
    <SubscribersModal
      :open-dialog="subscribersDialog"
      @closeDialog="subscribersDialog = false"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UploadVideoModal from "@/shared/components/StudioComponents/UploadVideoModal.vue";
import SubscribersModal from "@/screens/Studio/components/SubscribersModal.vue";
import { VideosModule } from "@/store/modules/video.store";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import moment from "moment";

@Component({
  components: {
    UploadVideoModal,
    SubscribersModal
  },
  computed: {
    ...mapGetters(Stores.videosStore, ["getLatestVideo"])
  }
})
export default class Dashboard extends Vue {
  loading = true;
  dialog = false;
  subscribersDialog = false;
  getLatestVideo!: VideoModel;

  get timeToNow() {
    return moment(
      `${this.getLatestVideo.createdAt}`,
      "DDMMYYYY, h:mm"
    ).fromNow();
  }

  async mounted() {
    await VideosModule.latestVideo();
  }
}
</script>

<style lang="scss">
.card {
  background: #f9f9f9 !important;
}
</style>
