<template>
  <div id="video" class="pa-4 pl-0">
    <h2>Channel videos</h2>

    <v-tabs v-model="tab" id="tab" class="mt-5">
      <v-tab>
        Uploads
      </v-tab>
      <v-tab>
        Live
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <template>
          <v-card flat>
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Filter"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              no-data-text="No videos available, please upload video."
              :headers="headers"
              :items="getVideos"
              :search="search"
              :loading="loading"
              loading-text="Loading... Please wait"
            >
              <template v-slot:top>
                <v-dialog v-model="dialogDelete" persistent max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="headline"
                        >Permanently delete this video?</span
                      >
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-card class="card" tile flat>
                          <v-row no-gutters>
                            <v-col cols="3" sm="2" md="5" lg="5">
                              <v-img
                                class="align-center"
                                :src="itemToDelete.thumbnail"
                              >
                              </v-img>
                            </v-col>
                            <v-col>
                              <div class="ml-2">
                                <v-card-title
                                  class="pl-2 subtitle-1 font-weight-bold"
                                  style="line-height: 1"
                                >
                                  {{ itemToDelete.name }}
                                </v-card-title>

                                <v-card-subtitle
                                  class="pl-2 pt-2 pb-0"
                                  style="line-height: 1"
                                >
                                  Published {{ published }} <br />
                                  {{ itemToDelete.views }} views
                                </v-card-subtitle>
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="dialogDelete = !dialogDelete"
                        >Cancel
                      </v-btn>

                      <v-btn color="blue darken-1" text @click="deleteItem"
                        >Delete Forever
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <!--                <v-dialog v-model="dialogEdit" persistent max-width="500px">-->
                <!--                  <v-card>-->
                <!--                    <v-card-title>-->
                <!--                                      <span class="headline"-->
                <!--                                      >Update info video </span-->
                <!--                                      >-->
                <!--                    </v-card-title>-->

                <!--                    <v-card-text>-->
                <!--                      <v-container>-->
                <!--                        <v-card class="card" tile flat>-->
                <!--                          <v-row no-gutters>-->
                <!--                            <v-col-->
                <!--                                order="last"-->
                <!--                                order-sm="last"-->
                <!--                                order-md="first"-->
                <!--                                order-lg="first"-->
                <!--                                order-xl="first"-->
                <!--                                cols="12"-->
                <!--                                sm="12"-->
                <!--                                md="8"-->
                <!--                                lg="8"-->
                <!--                            >-->

                <!--                              <v-text-field-->
                <!--                                  v-model="title"-->
                <!--                                  label="Title (required)"-->
                <!--                                  class="mb-3"-->
                <!--                                  filled-->
                <!--                                  dense-->
                <!--                                  counter="100"-->
                <!--                                  max-length="100"-->
                <!--                              ></v-text-field>-->
                <!--                              <v-textarea-->
                <!--                                  filled-->
                <!--                                  auto-grow-->
                <!--                                  label="Description"-->
                <!--                                  placeholder="Tell viewers about your video"-->
                <!--                                  rows="5"-->
                <!--                                  counter="5000"-->
                <!--                                  max-length="5000"-->
                <!--                                  v-model="description"-->
                <!--                                  row-height="20"-->
                <!--                              ></v-textarea>-->
                <!--                              <v-select-->
                <!--                                  :items="visibility"-->
                <!--                                  filled-->
                <!--                                  label="Visibility"-->
                <!--                                  v-model="selectVisibility"-->
                <!--                              ></v-select>-->
                <!--                              <v-select-->
                <!--                                  :items="categories"-->
                <!--                                  filled-->
                <!--                                  label="Category"-->
                <!--                                  v-model="selectCategory"-->
                <!--                              ></v-select>-->
                <!--                            </v-col>-->
                <!--                            <v-col-->
                <!--                                order-sm="1"-->
                <!--                                cols="12"-->
                <!--                                sm="12"-->
                <!--                                md="4"-->
                <!--                                lg="4"-->
                <!--                                class="text-center"-->
                <!--                            >-->
                <!--                              <v-btn text @click="onPickFile">Upload Avatar</v-btn>-->
                <!--                              <input-->
                <!--                                  type="file"-->
                <!--                                  ref="imageFile"-->
                <!--                                  style="display: none"-->
                <!--                                  accept="image/*"-->
                <!--                                  @change="onFilePicked"-->
                <!--                              />-->
                <!--                              <v-responsive width="330" class="mx-auto">-->
                <!--                                <div v-if="!imgDataUrl" class="px-12" id="image-placeholder">-->
                <!--                                  <v-icon>mdi-image-plus</v-icon>-->
                <!--                                </div>-->
                <!--                                <v-img-->
                <!--                                    v-else-->
                <!--                                    max-width="330"-->
                <!--                                    height="350"-->
                <!--                                    :src="itemToDelete.thumbnail"-->
                <!--                                ></v-img>-->
                <!--                              </v-responsive>-->
                <!--                            </v-col>-->
                <!--                          </v-row>-->
                <!--                        </v-card>-->
                <!--                      </v-container>-->
                <!--                    </v-card-text>-->

                <!--                    <v-card-actions>-->
                <!--                      <v-spacer></v-spacer>-->
                <!--                      <v-btn-->
                <!--                          color="blue darken-1"-->
                <!--                          text-->
                <!--                          @click="dialogEdit = !dialogEdit"-->
                <!--                      >Cancel-->
                <!--                      </v-btn>-->

                <!--                      <v-btn color="blue darken-1" text @click="updateItem"-->
                <!--                      >Update video-->
                <!--                      </v-btn>-->
                <!--                    </v-card-actions>-->
                <!--                  </v-card>-->
                <!--                </v-dialog>-->
              </template>

              <template v-slot:item.actions="{ item }">
                <v-btn
                  icon
                  href
                  text
                  class="mr-2"
                  color="orange"
                  @click="editBtn(item)"
                >
                  <v-icon>
                    mdi-pencil
                  </v-icon>
                </v-btn>
                <v-btn
                  icon
                  href
                  text
                  class="mr-2"
                  color="red"
                  router
                  @click.stop="videoDetails(item)"
                >
                  <v-icon>
                    mdi-youtube
                  </v-icon>
                </v-btn>
                <v-btn icon text @click.stop="deleteBtn(item)">
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card>
        </template>
      </v-tab-item>
      <v-tab-item>
        live
      </v-tab-item>
    </v-tabs-items>

    <EditVideoModel
      :openDialog="dialogEdit"
      :videoId="videoId"
      @closeDialog="dialogEdit = !dialogEdit"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Routes, Stores } from "@/shared/enums";
import { VideosModule, VideoStatus } from "@/store/modules/video.store";
import { VideoModel } from "@/shared/models/video.model";
import { GetUrl } from "@/shared/utils/get_url.utils";
import { FileModule } from "@/store/modules/upload_file.store";
import { mapGetters } from "vuex";
import EditVideoModel from "@/screens/Studio/components/EditVideoModel.vue";

@Component({
  components: {
    EditVideoModel
  },
  computed: {
    ...mapGetters(Stores.videosStore, ["getPrivateVideos"])
  }
})
export default class Video extends Vue {
  //tab
  tab = null;
  headers = [
    {
      text: "Video",
      align: "start",
      value: "name"
    },
    { text: "Visibility", value: "visibility" },
    { text: "Restrictions", value: "restrictions" },
    { text: "Views", value: "views" },
    { text: "Comments", value: "comments" },
    { text: "Likes (vs. dislikes)", value: "likes (vs. dislikes)" },
    { text: "Actions", value: "actions", sortable: false }
  ];
  //state
  getPrivateVideos!: VideoModel[];
  videos: VideoModel[] = [];
  itemToDelete: VideoModel = new VideoModel();
  dialogDelete = false;
  dialogEdit = false;
  published = "";

  search = "";

  get getVideos(): VideoModel[] {
    return this.videos;
  }

  //TODO: fix later
  videoId = "";
  editBtn(item: VideoModel) {
    this.dialogEdit = true;
    this.videoId = item.id;
    console.log(item.id);
  }

  deleteBtn(item: VideoModel) {
    this.dialogDelete = true;
    this.itemToDelete = item;
    this.published = this.itemToDelete.createdAt;
  }

  deleteItem() {
    this.dialogDelete = false;
    this.videos = this.getVideos.filter(
      video => this.itemToDelete.id !== video.id
    );
    const userId = GetUrl.userId(this.itemToDelete.thumbnail);
    const nameFile = GetUrl.nameFile(this.itemToDelete.thumbnail);
    const payload = {
      userId: userId,
      nameFile: nameFile
    };
    this.handleDelete(payload, this.itemToDelete.id);
  }

  updateItem() {
    this.dialogEdit = false;
    console.log("update");
  }

  async handleDelete(payload: any, id: string) {
    //delete video in firebase
    await FileModule.deleteThumbnail(payload);
    await FileModule.deleteVideo(payload);
    //delete video in mongoDb
    await VideosModule.deleteVideo(id);
    await VideosModule.getAndSavePrivateVideos();
  }

  get loading(): boolean {
    return VideosModule.videoStatus === VideoStatus.loading;
  }

  videoDetails(item: VideoModel) {
    const url = item.id;
    return this.$router.push({ name: Routes.watch, params: { id: url } });
  }

  async mounted() {
    await VideosModule.getAndSavePrivateVideos();
    this.videos = [...this.getPrivateVideos];
  }
}
</script>

<style lang="scss">
// .card,
// #tab .v-tabs-bar {
//   background: #f9f9f9 !important;
// }
</style>
