<template>
  <v-btn outlined color="indigo" to="/login">
    <v-spacer />
    <v-icon>account_circle</v-icon>
    <span>Login</span>
  </v-btn>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class LoginButton extends Vue {}
</script>
