<template>
  <div>
    <v-menu offsetY>
      <template v-slot:activator="{ on: menu }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn icon v-on="{ ...tooltip, ...menu }">
              <v-icon size="25">mdi-video-plus</v-icon>
            </v-btn>
          </template>
          <span>Create a video and more</span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-item router :to="redirect()">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-play-box-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Upload video</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-access-point</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Go live</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon size="25">mdi-apps</v-icon>
        </v-btn>
      </template>
      <span>DragoZero apps</span>
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on" class="mr-7">
          <v-icon size="25">mdi-bell</v-icon>
        </v-btn>
      </template>
      <span>Notifications</span>
    </v-tooltip>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { RouteUtils } from "@/shared/utils/routes.utils";

@Component({})
export default class MenuFeature extends Vue {
  redirect() {
    return RouteUtils.isLogin() ? "/studio" : "/login";
  }
}
</script>
