<template>
  <v-dialog
    v-model="dialog"
    persistent
    transition="fab-transition"
    max-width="1000"
  >
    <v-card>
      <div class="d-flex justify-space-between mb-5" id="modal-header">
        <v-card-title class="py-3">Share link</v-card-title>
        <div class="mt-3 mr-2">
          <v-btn icon text @click="closeModal">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
      </div>

      <v-card-text class="d-flex flex-column align-center ">
        <div class="text-center">
          <v-text-field
            id="textCopy"
            append-icon="content_copy"
            @click:append="onCopy()"
            v-model="textShare"
          >
          </v-text-field>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ShareModel extends Vue {
  @Prop({ type: Boolean })
  dialog!: boolean;
  textShare = "";

  closeModal() {
    this.$emit("closeDialog");
  }

  getUrl() {
    this.textShare = `http://localhost:8080/watch/${this.$route.params.id}`;
  }

  onCopy() {
    const copyText = document.getElementById("textCopy") as HTMLInputElement;
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copy thành công.");
    return false;
  }
  mounted() {
    this.getUrl();
  }
}
</script>
