<template>
  <v-card flat tile class="card">
    <v-card-title class="pl-0 pb-0">{{ getVideo.name }}</v-card-title>
    <div class="d-flex flex-wrap justify-space-between" id="btns">
      <v-card-subtitle
        class="pl-0 pt-0 pb-0 subtitle-1"
        style="line-height: 2.4em;"
      >
        {{ getVideo.views }} views
        <v-icon>mdi-circle-small</v-icon>
        {{ getVideo.createdAt }}
      </v-card-subtitle>
      <v-card-actions class="pt-0 pl-0 grey--text">
        <v-btn text @click.prevent="alterFeeling('like')">
          <v-icon class="pr-2" :class="LikeStyle">mdi-thumb-up</v-icon>
          {{ getVideo.likes }}
        </v-btn>
        <v-btn text @click.prevent="alterFeeling('dislike')">
          <v-icon class="pr-2" :class="DislikeStyle">mdi-thumb-down</v-icon>
          {{ getVideo.dislikes }}
        </v-btn>
        <v-btn text @click="dialog = !dialog">
          <v-icon>mdi-share</v-icon>
          Share
        </v-btn>
        <v-btn text>
          <v-icon>mdi-playlist-plus</v-icon>
          Save
        </v-btn>
      </v-card-actions>
    </div>
    <ShareModel :dialog="dialog" @closeDialog="dialog = false" />
  </v-card>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { Routes, Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import { Emotions, FeelingModule } from "@/store/modules/feeling.store";
import { VideosModule } from "@/store/modules/video.store";
import { RouteUtils } from "@/shared/utils/routes.utils";
import ShareModel from "@/screens/Watch/components/ShareModel.vue";

@Component({
  components: {
    ShareModel
  },
  computed: {
    ...mapGetters(Stores.videosStore, ["getVideo"]),
    ...mapGetters(Stores.feelingStore, ["getFeeling"])
  }
})
export default class WidgetVideo extends Vue {
  getVideo!: VideoModel;
  getFeeling!: Emotions;
  isLogin = RouteUtils.isLogin();
  dialog = false;

  get LikeStyle(): string {
    return FeelingModule.feel === Emotions.like ? "blue--text" : "";
  }

  get DislikeStyle(): string {
    return FeelingModule.feel === Emotions.dislike ? "blue--text" : "";
  }

  async alterFeeling(type: string) {
    if (this.isLogin) {
      const payload = {
        videoId: this.getVideo.id,
        type: type
      };
      await FeelingModule.alterFeeling(payload);
      await FeelingModule.checkFeeling();
      await VideosModule.getAndSaveVideo(this.$route.params.id);
    } else {
      this.$router.replace({ name: Routes.welcomePage });
    }
  }
}
</script>
