<template>
  <div id="watch">
    <v-container fluid>
      <v-row>
        <v-col cols="11" class="mx-auto">
          <v-row>
            <v-col cols="12" sm="12" md="8" lg="8">
              <v-skeleton-loader
                type="card-avatar, article, actions"
                :loading="videoLoading"
                tile
                large
              >
                <v-responsive>
                  <video-player
                    class="vjs-custom-skin"
                    controls
                    :options="playerOptions"
                    @play="onPlayerPlay($event)"
                    @ended="updateView"
                  >
                    <source :src="getVideo.linkVideo" type="video/mp4" />
                    <source :src="getVideo.linkVideo" type="video/webm" />
                    Your browser does not support the video tag.
                  </video-player>
                </v-responsive>

                <WidgetVideo />

                <WatchComments v-if="isLogin" />
                <!--     Guest      -->
                <v-row v-else>
                  <v-col cols="6" sm="6" md="6" lg="6">
                    <v-list>
                      <v-list-item>
                        <v-list-item-avatar>
                          <slot name="img">
                            <img :src="getVideo.userId.photoUrl" />
                          </slot>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>
                            {{ getVideo.userId.name }}
                          </v-list-item-title>
                          <v-list-item-subtitle>
                            {{ getVideo.userId.subscribers }} subscribers
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-col>
                  <v-col cols="6" sm="6" md="6" lg="6">
                    <div class="d-flex justify-end pa-5">
                      <LoginButton />
                    </div>
                  </v-col>
                </v-row>
              </v-skeleton-loader>
            </v-col>
            <!--       RecommenderVideo     -->
            <v-col cols="12" sm="12" md="4" lg="4">
              <RecommenderVideo />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import WidgetVideo from "@/screens/Watch/components/WidgetVideo.vue";
import WatchComments from "@/screens/Watch/components/WatchComments.vue";
import RecommenderVideo from "@/screens/Watch/components/RecommenderVideo.vue";
import { mapGetters } from "vuex";
import { VideosModule } from "@/store/modules/video.store";
import { Stores } from "@/shared/enums";
import { videoPlayer } from "vue-video-player";
//css
import "video.js/dist/video-js.css";
import "@/assets/custom-theme.css";
import { VideoModel } from "@/shared/models/video.model";
import { FeelingModule } from "@/store/modules/feeling.store";
import { RouteUtils } from "@/shared/utils/routes.utils";
import LoginButton from "@/shared/components/HomeComponents/LoginButton.vue";
import { SubscriptionModule } from "@/store/modules/subscription.store";

@Component({
  components: {
    WatchComments,
    WidgetVideo,
    RecommenderVideo,
    videoPlayer,
    LoginButton
  },

  computed: {
    ...mapGetters(Stores.videosStore, ["getVideo"])
  }
})
export default class Watch extends Vue {
  videoLoading = false;
  getVideo!: VideoModel;
  isLogin = RouteUtils.isLogin();
  //setting video
  playerOptions = {
    height: "720",
    // videojs options
    muted: true,
    volume: 1,
    language: "en",
    playbackRates: [0.5, 1.0, 1.5, 2.0],
    sources: [
      {
        type: "video/mp4",
        src: "https://youtu.be/B5HbfXhv7wA"
      }
    ],
    poster: "/static/images/author.jpg"
  };

  onPlayerPlay(player: any) {
    console.log("player play!");
  }

  // once
  async mounted() {
    const id = this.$route.params.id;
    await VideosModule.getAndSaveVideo(id);
    // await SubscriptionModule.getAllVideosSubscribed();
    if (this.isLogin) {
      await FeelingModule.checkFeeling();
      await SubscriptionModule.checkSubscription(this.getVideo.userId.id);
      // await CommentsModule.getCommentsByVideo(id);
    }
    this.chooseVideo();
  }

  updated() {
    this.chooseVideo();
  }

  chooseVideo() {
    this.playerOptions.sources[0].src = this.getVideo.linkVideo;
    this.playerOptions.poster = this.getVideo.thumbnail;
  }

  async updateView() {
    if (this.isLogin) {
      const id = this.$route.params.id;
      await VideosModule.updateView(id);
      await VideosModule.getAndSaveVideo(id);
    }
  }
}
</script>

<style lang="scss">
video {
  max-width: 100%;
  /* min-height: 360px; */
  /* width: 640px;
  height: 360px; */
}

#btns {
  border-bottom: 1px solid #e0d8d8;

  button {
    color: #7f7f7f;
  }
}

button.v-btn.remove-hover-bg {
  background-color: initial !important;

  &:hover {
    background-color: #f9f9f9;
  }
}
</style>
