<template>
  <div id="channel">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { NavigationGuardNext, Route } from "vue-router";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { Routes } from "@/shared/enums";
import { UserDataModule } from "@/store/modules/user_data.store";

@Component({})
export default class Channels extends Vue {
  created() {
    if (RouteUtils.isLogin()) {
      UserDataModule.getUserLogged();
    }
  }

  async beforeRouteEnter(
    to: Route,
    from: Route,
    next: NavigationGuardNext<any>
  ) {
    const isLogin = RouteUtils.isLogin();
    if (isLogin) next();
    else next({ name: Routes.welcomePage });
  }
}
</script>
