<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      transition="fab-transition"
      max-width="500"
    >
      <v-card>
        <div class="d-flex justify-space-between mb-5" id="modal-header">
          <v-card-title class="py-3">Forgot password</v-card-title>
          <div class="mt-3 mr-2">
            <v-btn icon text @click="closeDialog">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
        </div>
        <v-card-text>
          <v-container>
            <v-form ref="formForgotPassword" @submit.prevent="resetPassword()">
              <InputEmail @send-email="receiveEmail" />
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions class="flex-row-reverse">
          <v-btn
            class="text-capitalize submit "
            color="#FFB74D"
            type="submit"
            :style="{ cursor: getCursorStyle }"
          >
            Reset password
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import InputEmail from "@/shared/components/Common/InputEmail.vue";
import { VForm } from "@/shared/utils/vform.utils";
import {
  AuthenticationModule,
  AuthenticationStatus
} from "@/store/modules/authentication.store";

@Component({
  components: { InputEmail }
})
export default class ForgotPassword extends Vue {
  @Prop({ type: Boolean })
  dialog!: boolean;

  email = "";

  checkForm(form: string): VForm {
    return this.$refs[`${form}`] as VForm;
  }

  closeDialog() {
    this.$emit("close-dialog");
  }

  receiveEmail(email: string) {
    this.email = email;
  }

  get getCursorStyle(): string {
    return AuthenticationModule.authStatus ==
      AuthenticationStatus.Authenticating
      ? "wait"
      : "";
  }

  async resetPassword() {
    if (this.checkForm("formForgotPassword").validate()) {
      const response = await AuthenticationModule.forgotPassword(this.email);
      if (response) {
        this.closeDialog();
        alert("You can login now");
      } else {
        alert("Something wrong with your email, try again");
      }
    }
  }
}
</script>
