<template>
  <nav id="navbar">
    <v-app-bar class="white" flat app clipped-left>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title class="font-weight-bold">
        <router-link to="/" class="black--text" style="text-decoration: none"
          >DragoZero
        </router-link>
      </v-toolbar-title>

      <v-spacer />

      <v-text-field
        rounded
        hide-details
        append-icon="mdi-magnify"
        placeholder="Search"
        outlined
        dense
        v-model="searchText"
        @keyup.enter="search"
        class="hidden-sm-and-down"
      />

      <v-spacer />
      <MenuFeature />
      <component :is="currentComponent()"></component>
    </v-app-bar>

    <v-navigation-drawer
      app
      :clipped="$route.name !== 'Watch'"
      :temporary="$route.name === 'Watch'"
      id="nav"
      v-model="drawer"
    >
      <div class="v-navigation-drawer__content">
        <v-list dense nav class="py-0" tag="div">
          <v-list-item
            :class="{
              'hidden-lg-and-up': $route.name === 'Watch' ? false : true
            }"
          >
            <v-app-bar-nav-icon @click="drawer = !drawer" class="mr-5" />
            <v-toolbar-title class="font-weight-bold"
              >DragoZero
            </v-toolbar-title>
          </v-list-item>
          <div v-for="parentItem in itemNav" :key="parentItem.header">
            <v-subheader
              v-if="parentItem.header"
              class="pl-3 py-4 subtitle-1 font-weight-bold text-uppercase"
              >{{ parentItem.header }}
            </v-subheader>
            <v-list-item
              v-for="item in parentItem.pages"
              :key="item.title"
              link
              class="mb-0"
              router
              :to="item.link"
              exact
              active-class="active-item"
            >
              <v-list-item-icon v-if="parentItem.header !== 'Subscriptions'">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <!--  subscribe-->
              <v-list-item
                v-else-if="item.channelId"
                @click="redirectChannel(item)"
              >
                <v-list-item-avatar class="mr-5">
                  <v-img :src="item.channelId.photoUrl" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class=" font-weight-medium subtitle-2"
                    >{{ item.channelId.channelName }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <!--  subscribe-->
              <v-list-item-content>
                <v-list-item-title class=" font-weight-medium subtitle-2"
                  >{{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2 mb-2" />
          </div>
          <!--footer-->
          <span v-for="link in links" :key="link.text">
            <span v-if="link.text === 'Terms'" class="mb-2 d-block"> </span>
            <v-btn
              href
              router
              :to="link.link"
              text
              class="text-capitalize px-1"
              small
              >{{ link.text }}</v-btn
            >
          </span>
        </v-list>
      </div>
    </v-navigation-drawer>
  </nav>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import MenuInfo from "@/shared/components/HomeComponents/PopOverInfo.vue";
import MenuFeature from "@/shared/components/HomeComponents/MenuFeature.vue";
import { NavbarConst } from "@/shared/constants/navbar.const";
import LoginButton from "@/shared/components/HomeComponents/LoginButton.vue";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { SubscriptionModule } from "@/store/modules/subscription.store";
import { SubscriptionType } from "@core/domain/models/subscription.model";
import { mapGetters } from "vuex";
import { Routes, Stores } from "@/shared/enums";
import { SearchModule } from "@/store/modules/search.store";
import { HistoryModule } from "@/store/modules/history.store";

@Component({
  components: {
    MenuInfo,
    MenuFeature,
    LoginButton
  },
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["listSubscribers"])
  }
})
export default class NavBarHeader extends Vue {
  searchText = "";
  drawer = false;
  items = NavbarConst.ITEMS;
  items_noAuth = NavbarConst.ITEMS_NO_AUTH;
  links = NavbarConst.LINKS;
  listSubscribers!: SubscriptionType[];

  currentComponent() {
    const ss = RouteUtils.isLogin();
    return ss ? MenuInfo : LoginButton;
  }

  get itemNav() {
    const ss = RouteUtils.isLogin();
    return ss ? this.items : this.items_noAuth;
  }

  async redirectChannel(subscriber: SubscriptionType) {
    const id = subscriber.channelId.id;

    await SubscriptionModule.getChannels(id);
    await SubscriptionModule.checkSubscription(id);

    this.$router
      .replace({ name: Routes.channelSubscriber, params: { id } })
      .catch(() => {
        console.log(`Stay on ${this.$route.name}`);
      });
  }

  async mounted() {
    this.drawer = !this.$vuetify.breakpoint.mdAndDown;
    this.drawer = this.$route.name === "Watch" ? false : this.drawer;
    const ss = RouteUtils.isLogin();
    if (ss) {
      await SubscriptionModule.getSubscribers();
      this.appUserToItems(this.listSubscribers);
    }
  }

  appUserToItems(subscriber: SubscriptionType[]) {
    for (let i = 2; i == 2; ++i) {
      this.items[i].pages = [...subscriber];
      console.log(this.items[i].pages);
    }
  }

  async search() {
    const query = this.$route.query.q;
    const checkQuery = query === this.searchText;

    if (!this.searchText || checkQuery) return;
    const payload = {
      type: "search",
      searchText: this.searchText,
      videoId: null
    };
    HistoryModule.createHistory(payload);
    this.$router.push({
      name: Routes.search,
      query: { q: this.searchText }
    });
    await SearchModule.search(this.searchText);
  }

  updated() {
    // TODO : need to update subscriber on navbar
  }
}
</script>
<style lang="scss">
#navbar {
  .active-item {
    .v-list-item__icon {
      color: red !important;
    }
  }

  .v-navigation-drawer__border {
    width: 0 !important;
  }

  .vuebar-element {
    height: 250px;
    width: 100%;
    max-width: 500px;
    background: #dfe9fe;
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
      height 100ms ease-out;
    transition: background-color 100ms ease-out, margin 100ms ease-out,
      height 100ms ease-out;

    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
  }

  .v-navigation-drawer__content:hover .vb > .vb-dragger > .vb-dragger-styler {
    width: 10px;
    background-color: #e0e0e0;
  }

  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    margin: 0px;
    width: 10px;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244, 0.5);
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244, 0.5);
  }
}
</style>
