<template>
  <v-dialog
    v-model="openDialog"
    persistent
    transition="fab-transition"
    max-width="800"
  >
    <v-card tile>
      <div class="d-flex justify-space-between mb-5">
        <v-card-title class="py-3">Update video</v-card-title>

        <v-btn icon text @click="closeModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <v-card-text>
        <v-row>
          <v-col
            order="last"
            order-sm="last"
            order-md="first"
            order-lg="first"
            order-xl="first"
            cols="12"
            sm="12"
            md="8"
            lg="8"
          >
            <v-form
              @submit.prevent="submit"
              @reset.prevent="reset"
              ref="formUpdateVideos"
            >
              <v-text-field
                v-model="title"
                label="Title (required)"
                class="mb-3"
                filled
                dense
                counter="100"
                max-length="100"
              ></v-text-field>
              <v-textarea
                filled
                auto-grow
                label="Description"
                placeholder="Tell viewers about your video"
                rows="5"
                counter="5000"
                max-length="5000"
                v-model="description"
                row-height="20"
              ></v-textarea>
              <v-select
                :items="visibility"
                filled
                label="Visibility"
                v-model="selectVisibility"
              ></v-select>
              <v-select
                :items="categories"
                filled
                label="Category"
                v-model="selectCategory"
              ></v-select>
              <div class="mt-6 d-flex justify-space-between">
                <v-btn type="submit" class="primary" depressed>Submit</v-btn>
              </div>
            </v-form>
          </v-col>
          <v-col
            order-sm="1"
            cols="12"
            sm="12"
            md="4"
            lg="4"
            class="text-center"
          >
            <v-btn text @click="onPickFile">Upload Avatar</v-btn>
            <input
              type="file"
              ref="imageFile"
              style="display: none"
              accept="image/*"
              @change="onFilePicked"
            />
            <v-responsive width="330" class="mx-auto">
              <div v-if="!imgDataUrl" class="px-12" id="image-placeholder">
                <v-icon>mdi-image-plus</v-icon>
              </div>
              <v-img
                v-else
                max-width="330"
                height="350"
                :src="imgDataUrl"
              ></v-img>
            </v-responsive>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Routes, Status, Stores, Type } from "@/shared/enums";
import { VideosModule, VideoStatus } from "@/store/modules/video.store";
import { FileModule } from "@/store/modules/upload_file.store";
import { VForm } from "@/shared/utils/vform.utils";
import { VideosRequest } from "@core/domain/request";
import { CategoriesModule } from "@/store/modules/category.store";
import { mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters(Stores.categoriesStore, ["getPopulatedCategories"])
  }
})
export default class EditVideoModel extends Vue {
  @Prop({ type: Boolean })
  openDialog!: boolean;
  @Prop({ type: String })
  videoId!: string;
  closeModal() {
    this.$emit("closeDialog");
  }

  //state loading
  uploaded = false;
  uploading = false;
  getPopulatedCategories: any;
  //rules
  rulesTittle = [
    (value: string) =>
      !value || value.length < 3 || `Title need at least 3 letters`
  ];
  rulesVideo = [
    (value: File) =>
      !value ||
      value.size < process.env.VUE_APP_MAX_FILE_UPLOAD ||
      `Please upload an video less than ${process.env.VUE_APP_MAX_FILE_UPLOAD /
        1000 /
        1000}MB`
  ];
  //variable
  categories = Type.Movies;
  visibility = [Status[0], Status[1], Status[2]];
  title = "";
  description = "";
  selectCategory = "";
  categoryId = "";
  selectVisibility = "";
  imgDataUrl: string | ArrayBuffer | null = "";
  videoData: any = null;

  thumbnailUrl: string | null = "";
  videoUrl: string | null = "";

  get getCursorStyle(): string {
    return VideosModule.videoStatus == VideoStatus.loading ? "wait" : "";
  }

  async UploadFile() {
    if (!this.videoData) {
      return console.log("You need to video to upload, it's required");
    }
    this.uploading = true;
    this.videoUrl = await FileModule.uploadVideo(this.videoData);
    this.uploaded = true;
  }

  onPickFile() {
    (this.$refs.imageFile as HTMLElement).click();
  }

  async onFilePicked(event: any) {
    //get file
    const files = event.target!.files[0];
    if (files.name!.lastIndexOf(".") <= 0) {
      return console.log("Please add a valid file!");
    }
    // read image example viewer can see
    const fileReader = new FileReader();
    fileReader.addEventListener("load", () => {
      this.imgDataUrl = fileReader.result;
    });
    fileReader.readAsDataURL(files);
    //delete image before upload
    await FileModule.deleteThumbnail(files.name);
    // upload image
    this.thumbnailUrl = await FileModule.uploadThumbnail(files);
  }

  checkForm(form: string): VForm {
    return this.$refs[`${form}`] as VForm;
  }

  async submit() {
    if (this.checkForm("formUpdateVideos").validate()) {
      const payload = {
        videoId: this.videoId,
        title: this.title,
        description: this.description,
        status: this.selectVisibility,
        categoryId: this.categoryId,
        thumbnailUrl: this.thumbnailUrl!
      };
      await VideosModule.updateVideo(payload);
      if (this.$route.name === Routes.dashboard)
        return this.$router.push("/studio/videos");
      this.closeModal();
      console.log("submittied");
      await VideosModule.getAndSavePrivateVideos();
    }
  }

  @Watch("selectCategory")
  watchSelectCategories() {
    const value = this.selectCategory;
    if (this.getPopulatedCategories[value])
      this.categoryId = this.getPopulatedCategories[value];
  }

  async mounted() {
    await CategoriesModule.getAllCategories();
  }
}
</script>
<style></style>
