<template>
  <v-dialog
    v-model="openDialog"
    persistent
    transition="fab-transition"
    max-width="800"
  >
    <v-card tile>
      <div class="d-flex justify-space-between mb-5">
        <v-card-title class="py-3">Subscribers</v-card-title>

        <v-btn icon text @click="closeModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <v-card-text class="px-3">
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" class="pt-0 px-0">
            <v-data-table
              :headers="headers"
              :items="listSubscribers"
              sort-by="calories"
            >
              <template v-slot:item.channelName="{ item }">
                <v-avatar size="35">
                  <img
                    :src="item.channelId.photoUrl"
                    :alt="item.channelId.channelName"
                  />
                </v-avatar>
                <span class="pl-2">{{ item.channelId.channelName }}</span>
              </template>
              <template v-slot:item.createdAt="{ item }">
                <span class="pl-2">
                  {{ formatTime(item.createdAt) }}
                </span>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-btn
                  text
                  small
                  class="mr-2 red--text text--darken-4"
                  @click="subscribe(item.channelId.id)"
                >
                  Unsubscribe
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { SubscriptionType } from "@core/domain/models/subscription.model";
import moment from "moment";
import { FormatDateTime } from "@/shared/utils/date_time.utils";
import Subscriber from "@/shared/components/Common/Subscriber.vue";
import { SubscriptionModule } from "@/store/modules/subscription.store";

@Component({
  components: {
    Subscriber
  },
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["listSubscribers"])
  }
})
export default class SubscribersModal extends Vue {
  @Prop({ type: Boolean })
  openDialog!: boolean;
  listSubscribers!: SubscriptionType[];
  headers = [
    {
      text: "Channel",
      align: "start",
      value: "channelName"
    },
    { text: "Date Subscribed", value: "createdAt" },
    { text: "Subscriber count", value: "channelId.subscribers" },
    { text: "Actions", value: "actions", align: "end", sortable: false }
  ];

  async subscribe(id: string) {
    await SubscriptionModule.subscribe(id);
    await SubscriptionModule.getSubscribers();
  }

  closeModal() {
    this.$emit("closeDialog");
  }

  formatTime(date: Date) {
    const dateFormat = FormatDateTime.formatDateTime(date);
    return moment(`${dateFormat}`, "DDMMYYYY, h:mm").fromNow();
  }

  async mounted() {
    await SubscriptionModule.getSubscribers();
    console.log("subscriber::", this.listSubscribers);
  }
}
</script>
