<template>
  <div>
    <v-container>
      <v-text-field
        v-model="channelName"
        :rules="rules"
        label="Channel name"
        prepend-icon="person"
        clearable
        @change="sendChannel"
      />
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class InputChannelName extends Vue {
  channelName = "";
  rules = [
    (value: string) => {
      return !!value || "Required";
    }
  ];
  sendChannel() {
    this.$emit("send-channel", this.channelName);
  }
}
</script>
