<template>
  <div>
    <v-container>
      <v-text-field
        v-model="email"
        :rules="rules"
        label="E-mail"
        prepend-icon="email"
        clearable
        @change="sendEmail()"
      />
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class InputEmail extends Vue {
  email = "";
  rules = [
    (value: string) => {
      return !!value || "Required";
    },
    (value: string) => {
      // eslint-disable-next-line max-len
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return pattern.test(value) || "Invalid e-mail.";
    }
  ];
  sendEmail() {
    this.$emit("send-email", this.email);
  }
}
</script>
