<template>
  <v-card
    class="content-bg card mx-auto"
    :max-width="card.maxWidth"
    flat
    tile
    @click.stop="createHistory(video)"
  >
    <v-img :src="video.thumbnail" height="200px"></v-img>
    <v-row no-gutters>
      <v-col cols="2" v-if="card.type != 'noAvatar'">
        <v-list-item class="pl-0 pt-3">
          <v-list-item-avatar>
            <v-img class="elevation-6" :src="channel.photoUrl"></v-img>
          </v-list-item-avatar>
        </v-list-item>
      </v-col>
      <v-col>
        <v-card-title class="pl-2 pt-3 subtitle-1 font-weight-bold">
          {{ video.name }}
        </v-card-title>
        <v-card-subtitle class="pl-2 pb-0">
          {{ channel.name }}
        </v-card-subtitle>
        <v-card-subtitle class="pl-2 pt-0">
          {{ video.views }} views
          <v-icon>mdi-circle-small</v-icon>
          {{ video.createdAt }}
        </v-card-subtitle>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { UserModel } from "@/shared/models/user.model";
import { VideoModel } from "@/shared/models/video.model";
import { HistoryModule } from "@/store/modules/history.store";

@Component
export default class VideoCard extends Vue {
  @Prop({ required: true, type: Object })
  video!: VideoModel;

  @Prop({ required: false, type: Object })
  channel!: UserModel;

  @Prop({ required: false, type: Object })
  card!: object;

  createHistory(video: VideoModel) {
    const payload = {
      type: "watch",
      searchText: "",
      videoId: video.id
    };
    HistoryModule.createHistory(payload);
    this.$router.push(video.url);
  }
}
</script>

<style></style>
